.main {
  border-radius: 10px;
  background-color: white;
  text-align: left;
}
  
/*********************************/
/************ header *************/
/*********************************/

.header {
  font-size: 1.2em;
  border-bottom: 1px solid gray;
  padding: 1rem 2rem;
}

/*********************************/
/************ content ************/
/*********************************/

.content > div {
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.content > div:not(:last-child) {
  border-bottom: 1px solid gray;
}

@media screen and (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}