@import '../../App.css';

.nomination-banner-container {
  padding: 3rem;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
}

.icon-container {
  height: 60px;
  width: 60px;
}

.edit-button {
  border-radius: 4rem;
}

.decline-button {
  background-color: #f72314;
  color: #ffffff;
  border: #8a8a8a;
}

.button-center {
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.decline-button:hover {
  background-color: #d4190c;
}

#edit-button {
  color: var(--brand);
  border-color: var(--light-background);
}

.banner-top {
  border-bottom: 1px solid var(--light-background);
}

.hp-name,
.fam-name,
.hippa,
.created-at {
  border-right: 1px solid var(--light-background);
  margin-top: 1rem;
}

.amount {
  margin-top: 1rem;
}

.secondary-dark {
  font-size: 1.1rem;
}

.body-font {
  font-size: 2rem;
}

.nom-name {
  font-size: 2.5rem;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hippa-column {
  white-space: nowrap;
}
/* modal style */
.modal-background{
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.4s case-in-out ;
  position: absolute; 
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-container{
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: inherit;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 4px;
  width: 469px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  display: flex;
  pointer-events: visible;
}

.modal-text {
  padding: 40px 40px;
  font-weight: 300;
  letter-spacing: .01em;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  padding-bottom: 19px;
}


.modal-buttons > button {
  color: white;
  border: #999;
  font-weight: bold;
  padding: 10px 40px 10px 40px;
  margin-right: 10px;
  height: 35px;
  border-radius: 4rem;
  font-size: 1rem;
  letter-spacing: .01em;
  line-height: 1rem;
}

.button-yes{
  background-color: #128b3e;
}

.button-no{
  background-color: #f72314;
}

.exit-button {
  cursor: pointer;
  font-size: 30px;
  padding-left: 475px;
  padding-top: 5px;
  float: right;
  color: grey;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.exit-button:hover{
  color: darkgray;
  background-color: transparent;
}
