@import '../../App.css';

.nomination-banner-container {
  padding: 3rem;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
}

.icon-container {
  height: 60px;
  width: 60px;
}

.edit-button {
  border-radius: 4rem;
}

.decline-button {
  background-color: #f72314;
  color: #ffffff;
  border: #8a8a8a;
  font-size: 0.82rem;
  font-weight: bold;
  text-justify: center;
  padding: 0px 10px 10px 10px;
  height: 35px;
  border-radius: 4rem;
  cursor: pointer;
}

.decline-button:hover {
  background-color: #d4190c;
}

#edit-button {
  color: var(--brand);
  border-color: var(--light-background);
}

.banner-top {
  border-bottom: 1px solid var(--light-background);
}

.hp-name,
.fam-name,
.hippa,
.created-at {
  border-right: 1px solid var(--light-background);
  margin-top: 1rem;
}

.amount {
  margin-top: 1rem;
}

.secondary-dark {
  font-size: 1.1rem;
}

.body-font {
  font-size: 2rem;
}

.nom-name {
  font-size: 2.5rem;
}
