@import '../../App.css';

.nomination-banner-container {
  padding: 3rem;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
}

.icon-container {
  height: 60px;
  width: 60px;
}

.edit-button {
  border-radius: 4rem;
}

.decline-button {
  background-color: #f72314;
  color: #ffffff;
  border: #929292;
  font-weight: bold;
}

.button-center {
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.decline-button:hover {
  background-color: #d4190c;
}

#edit-button {
  color: var(--brand);
  border-color: var(--light-background);
}

.banner-top {
  border-bottom: 1px solid var(--light-background);
}

.hp-name,
.fam-name,
.hippa,
.created-at {
  border-right: 1px solid var(--light-background);
  margin-top: 1rem;
}

.amount {
  margin-top: 1rem;
}

.secondary-dark {
  font-size: 1.1rem;
}

.body-font {
  font-size: 2rem;
}

.nom-name {
  font-size: 2.5rem;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hippa-column {
  white-space: nowrap;
}
