@import '../../App.css';

.nomination-banner-container {
  padding: 3rem;
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
}

.icon-container {
  height: 60px;
  width: 60px;
}

/* Decline App Button */

.decline-button {
  background-color: #f72314;
  color: #ffffff;
  border: #8a8a8a;
  text-transform: capitalize;
  border: #8a8a8a;
  border-radius: 5rem;
}

.decline-button:disabled {
  background-color: #5a5959;
}

.decline-button:disabled:hover {
  background-color: #5a5959;
}

.decline-button:hover {
  background-color: #d4190c;
}

/* Resend Email Button */

.resend-email-btn {
  text-transform: capitalize;
  border-radius: 5rem;
  background-color: #128b3e;
  color: white;
  border: #999;
  margin: 0px;
  margin-left: 10px;
}

.resend-email-btn:hover {
  background-color: #167c3d;
}

.resend-email-btn:disabled {
  background-color: #5a5959;
}

.resend-email-btn:disabled:hover {
  background-color: #5a5959;
}

.button-center {
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Resend Email Modal Styling */

label.survey {
  font-size: 20px;
  letter-spacing: 0.01em;
  align-items: center;
  font-weight: 300;
  padding: 0px 5px;
}

input[type='radio'] {
  margin-right: 5px;
}

fieldset {
  border: 1px solid black;
  border-radius: 5%;
  /* box-shadow: 1px 1px 1px 1px gray; */
  padding: 5px;
  margin: 5px 10px;
}

legend {
  font-weight: 500;
  font-size: 24px;
}

form {
  display: flex;
  margin: 0px 25px;
}

.email-modal-buttons {
  display: flex;
  line-height: 20px;
  align-items: flex-end;
  /* justify-content: center; */
  margin: 10px 0px;
  justify-content: flex-end;
}

.email-modal-buttons > button {
  color: white;
  border: #999;
  font-weight: bold;
  margin-right: 10px;
  height: 35px;
  border-radius: 1rem;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 1rem;
  text-transform: capitalize;
}

.email-modal-container {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: inherit;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  width: auto;
  flex-direction: column;
  display: flex;
  pointer-events: visible;
}

.banner-top {
  border-bottom: 1px solid var(--light-background);
}

.hp-name,
.fam-name,
.hippa,
.created-at {
  border-right: 1px solid var(--light-background);
  margin-top: 1rem;
}

.amount {
  margin-top: 1rem;
}

.secondary-dark {
  font-size: 1.1rem;
}

.body-font {
  font-size: 2rem;
}

.nom-name {
  font-size: 2.5rem;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hippa-column {
  white-space: nowrap;
}
/* modal style */
.modal-background {
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.4s case-in-out;
  position: absolute;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-container {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: inherit;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  width: auto;
  flex-direction: column;
  display: flex;
  pointer-events: visible;
}

.modal-text {
  padding: 20px 20px;
  font-size: 24px;
  letter-spacing: 0.01em;
  align-items: center;
}

.modal-buttons {
  display: flex;
  line-height: 20px;
  align-items: flex-end;
  justify-content: flex-end;
}

.modal-buttons > button {
  color: white;
  border: #999;
  font-weight: bold;
  margin-right: 10px;
  height: 35px;
  border-radius: 1rem;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 1rem;
  text-transform: capitalize;
}

.button-yes {
  background-color: #128b3e;
}
.button-yes:hover {
  background-color: #128b3e;
}

.button-no {
  background-color: #999;
}

.button-no:hover {
  background-color: #999;
}

.exit-button {
  position: relative;
  left: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 30px;
  color: grey;
  font-weight: bold;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.exit-button:hover {
  color: darkgray;
  background-color: transparent;
}
