/*LOGIN GOOGLE BUTTON*/
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google-button {
  text-align: center;
}

.google-login, .google-logout {
  /* using important to override inline styles rendered by 3rd party component */
  padding: 30px !important;
}

.login-logo {
  max-width: 19%;
  margin-top: 10%;
  margin-bottom: 2%;
}
