.ksf-logo {
  width: 4rem;
  height: 4rem;
}

.search-bar-wrapper {
  background: rgb(255, 255, 255);
  margin: 1rem;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
}

.search-header-container {
  color: #128b3e;
  display: flex;
  align-items: center;
}
