.text__underline {
  text-decoration: underline;
}
.text__bold {
  font-weight: bold;
}
.text__color_green {
  color: green;
}
.main {
  max-width:600px;
  margin: 0 auto;
}
.mb3 {
margin-bottom: 3rem;
}


