.nomination-bar-wrapper {
  background: rgb(255, 255, 255);
  margin: 1rem;
  padding: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
}

.nav {
  margin-top: 40px;
}

a,
a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #999;
}

.arrow-steps .step {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 150px;
  float: left;
  position: relative;
  background-color: rgb(216, 222, 233);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid rgb(216, 222, 233);
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:last-child:after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 19px solid rgb(216, 222, 233);
  border-bottom: 17px solid rgb(216, 222, 233);
  border-left: 17px solid rgb(216, 222, 233);
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.checkmark:before {
  content: '✓';
}

.arrow-steps .step:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: '✔';
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: rgb(178, 178, 178);
  color: white;
  background-color: #128b3e;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #128b3e;
}

.arrow-steps .step.complete {
  color: #128b3e;
  background-color: rgb(178, 178, 178);
}

.arrow-steps .step.complete:after {
  border-left: 17px solid rgb(178, 178, 178);
}

.arrow-steps .step.current:last-child:after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 19px solid #128b3e;
  border-bottom: 17px solid #128b3e;
  border-left: 17px solid #128b3e;
}

.next {
  background-color: #128b3e;
  color: white;
  border: #999;
  margin: 0px;
  margin-left: 10px;
}

.next span {
  margin-right: 1rem;
}

.button-next-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: max-content;
}
.decline-button {
  background-color: #f72314;
  color: #ffffff;
  border: #8a8a8a;
}
.button-center {
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.button-modal-next {
  background-color: #128b3e;
  color: white;
  border: #999;
  margin-left: Auto;
  margin-right: 18px;
  padding-left: 25px;
  padding-right: 60px;
  width: 155;
  font-size: Auto;
  border-radius: 3px;
}
.button-modal-decline {
  background-color: #f72314;
  color: white;
  border: #999;
  margin-left: Auto;
  margin-right: 18px;
  padding-left: 25px;
  padding-right: 60px;
  width: 155;
  font-size: Auto;
  border-radius: 3px;
}