.nomination-bar-wrapper {
  background: rgb(255, 255, 255);
  margin: 1rem;
  padding: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
}

.container {
  font-family: 'Lato', sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
}

.nav {
  margin-top: 40px;
}

a,
a:active {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #999;
}

.arrow-steps .step {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  min-width: 150px;
  float: left;
  position: relative;
  background-color: rgb(216, 222, 233);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid rgb(216, 222, 233);
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:last-child:after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 19px solid rgb(216, 222, 233);
  border-bottom: 17px solid rgb(216, 222, 233);
  border-left: 17px solid rgb(216, 222, 233);
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.checkmark:before {
  content: '✓';
}

.arrow-steps .step:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step span:before {
  opacity: 0;
  content: '✔';
  position: absolute;
  top: -2px;
  left: -20px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: rgb(178, 178, 178);
  color: white;
  background-color: #128b3e;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #128b3e;
}

.arrow-steps .step.complete {
  color: #128b3e;
  background-color: rgb(178, 178, 178);
}

.arrow-steps .step.complete:after {
  border-left: 17px solid rgb(178, 178, 178);
}

.arrow-steps .step.current:last-child:after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 19px solid #128b3e;
  border-bottom: 17px solid #128b3e;
  border-left: 17px solid #128b3e;
}

.red-arrow-steps .red-step {
  height: 36px;
  margin: 0 3px;
  min-width: 150px;
  float: left;
  position: relative;
  background-color: #EA9999 ;
}

.red-arrow-steps .red-step:after,
.red-arrow-steps .red-step:before {
  content: ' ';
  position: absolute;
  right: -17px;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #EA9999;
  z-index: 2;
}

.red-arrow-steps .red-step:last-child:after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 19px #EA9999;;
  border-bottom: 17px #EA9999;;
  border-left: 17px #EA9999;
}
.red-arrow-steps .red-step:before {
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}
.red-arrow-steps .red-step:first-child:before {
  border: none;
}

.red-arrow-steps .red-step:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.red-arrow-steps .red-step.current:last-child:after {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.red-arrow-steps .red-step:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}


.next {
  background-color: #128b3e;
  color: white;
  border: #999;
  margin: 0px;
  margin-left: 10px;
}
.next:disabled{
  background-color: #5a5959;
}
.next:disabled:hover{
  background-color: #5a5959;
}

.next span {
  margin-right: 1rem;
}

.button-next-wrapper {
  /* added position for styling modal */
  position: relative;
  display: flex;
  justify-content: space-between;
  height: max-content;
}

.button-center {
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* modal styling */
.modal-container-stages {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-height: 90%; */
  overflow: inherit;
  background: #fff;
  box-sizing: border-box;
  /* padding: 20px; */
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 4px;
  width: 800px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-content: flex-start; */
  /* display: flex; */
  
}
.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-close-button {
  cursor: pointer;
  font-size: 30px;
  /* padding-left: 450px; */
  /* text-align: right; */
  /* padding-top: 0px; */
  float: right;
  color: grey;
  font-weight: bold;
  padding-left: 770px;
}
.modal-close-button:hover {
  color: darkgray;
}
.modal-footer {
  display: flex;
  line-height: 20px;
  padding-bottom: 3px;
  padding-left: 580px;
}
.modal-button-yes {
  background-color: #128b3e;
  color: white;
  border: #999;
  font-size: 15px;
  font-weight: bold;
  /* padding: 10px 40px 10px 40px; */
  height: 35px;
  border-radius: 1rem;
  font-size: 1rem;
  letter-spacing: .01em;
  line-height: 1rem;
  text-transform: capitalize;
  margin-right: 10px;
}
.modal-button-no {
  background-color: #999;
  color: #ffffff;
  border: #8a8a8a;
  font-size: 15px;
  /* padding: 10px 40px 10px 40px; */
  height: 35px;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: .01em;
  line-height: 1rem;
  text-transform: capitalize;
} 
.modal-content-text{
  padding: 20px;
  font-weight: 300;
  letter-spacing: .01em;
}
