h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.new-files-container {
  background-color: white;
  border-radius: 1rem;
  margin: 2rem;
}

.home-new-files-headers {
  background-color: #EEF1F6;
}

.new-files-see-more {
  text-align: end;
  padding-right: 2rem !important;
  /* using important to override inline styles rendered by 3rd party component Milligram */
}

.new-files-application-name {
  color: #128B3E;
}

.add-padding-left {
  padding-left: 2rem !important;

  /* using important to override inline styles rendered by 3rd party component Milligram */
}

.new-files-title {
  display: flex;
  align-items: center;
}

.new-files-title h1{
  margin-left: 5px;
  margin-bottom: 0rem !important;
}

.home-new-files-headers h2{
  margin-bottom: 0rem !important;
}

.detail-font-size {
  font-size: .875rem;
}

td {
  border: none;
  padding: 1.5rem 2rem;
}
