.new-files-container {
  background-color: white;
}

.new-files-table {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.home-new-files-headers {
  background-color: var(--light-background);
  flex-grow: 1;
}

.new-files-see-more {
  text-align: end;
  padding-right: 4rem !important;
  /* using important to override inline styles rendered by 3rd party component Milligram */
}

.new-files-application-name {
  color: var(--brand);
}

.add-padding-left {
  padding-left: 2rem !important;
  /* using important to override inline styles rendered by 3rd party component Milligram */
}

.svg-inline--fa.fa-w-14 {
  width: 1.875em;
}

.new-files-title {
  display: flex;
  align-items: center;
}

.new-files-title h1 {
  margin-left: 5px;
  margin-bottom: 0rem !important;
  letter-spacing: normal !important;
}

.home-new-files-headers h2 {
  margin-bottom: 0rem !important;
  font-size: 1.4rem;
  letter-spacing: normal !important;
}

.detail-font-size {
  font-size: 1rem;
}

.green * {
  color: #128b3e !important;
  font-weight: bold;
}

.stage-dropdown {
  margin-bottom: 0px;
  margin-left: 5px;
  width: auto;
}

.stage-dropdown:focus {
  border-color: #128b3e;
  /* had to update the url to change from purple using path fill, because milligram hardcodes the color into the svg image */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23128B3E" d="M0,0l6,8l6-8"/></svg>');
  width: auto;
}

.landing-table > td {
  width: 250px;
}

.landing-table > td:first-child {
  width: 285px;
}

.landing-table > td:last-child {
  width: 235px;
}

.sortable-column {
  cursor: pointer;
}

.width-column {
  width: 20%;
}
.last-column {
  width: 10%;
}

.decrease-spacing {
  line-height: 2px;
}

.same-row {
  display: block;
}

.same-row-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
