.search-result-card {
  padding: 3rem;
}

.search-result-table h1 {
  letter-spacing: normal;
}

.search-result-table {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px;
  background-color: white;
}

.search-result-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-exit {
  width: 300%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.thead {
  width: 300%
}

.search-result-exit {
  display: flex;

}

.nom-name a {
  color: var(--brand);
}



.search-result-exit {

  display: flex;
  justify-content: flex-end;
}

.search-result-exit-button{
  background: #128B3E;
  border: #128B3E;
}


.search-result-nomination-link{

 color:#128B3E;
 font-size: 1.2rem;
 font-weight:bold;
 

}