.search-result-card {
  padding: 3rem;
}

th{
  border: none;
}
.search-result-table h1 {
  letter-spacing: normal;
  margin-top: .5rem;
  max-height: 1rem;
}

.search-result-table {
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px;
  background-color: white;
  position: relative;
  
}


.search-result-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-exit {
  width: 300%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.thead {
  width: 300%
}


.search-result-exit {
  display: flex;

}


.nom-name a {
  color: var(--brand);
}

.search-result-header{
  background: #eef1f6;
 
}

.search-result-data{
  font-size: 1.2rem;
}


.search-result-exit {

  display: flex;
  justify-content: flex-end;
}

.search-result-exit-button{
  background: #000000;
  border: #000000;
  margin-right: 1rem;
}


.search-result-nomination-link{

 color:#128B3E;
 font-size: 1.2rem;
 font-weight:bold;
 

}


.search-result-alignment{
  margin-left: 1rem;
  font-size: 1.5rem;

}