.sync-noms {
  background-color: var(--light-background);
  color: var(--brand);
  border-color: var(--brand);
  margin-left: 1rem;
}

.sync-message {
 letter-spacing: normal !important;
 padding-left: 2rem;
}
