.settings-container {
    height: 100%;
    background: #fff;
}

.settings-header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--light-background);

}

.settings-heading {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.settings-main {
    display: grid;
    height: 90%;
    grid-template-columns: 25% 1fr;
}

.settings-sidebar {
    grid-column: 1 / 2;
    background-color: var(--light-background);
}

.settings-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--light-background);
}

.settings-list > li {
    margin: 0;
    padding-left: 3rem;
    padding-top: 1.5rem;
    height: 10%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--brand);
    background: rgba(18, 139, 62, 0.2);
    border-left: 5px solid var(--brand);

}

.settings-section {
    padding-left: 3rem;
    padding-top: 2rem;
}
.settings-section-heading {
    font-size: 3rem;
    font-weight: 600;
    color: var(--brand);
}

.settings-button {
    background-color: #fff;
    color: var(--brand);
    border-color: var(--brand);
}

.settings-main button[disabled]:hover {
    background-color: white;
    border-color: var(--brand);
    color: var(--brand);
}

.settings-main button:hover {
    background-color: var(--brand);
    border-color: white;
    color: white;
}

.settings-input  input:focus {
    border-color: var(--brand);
}

.settings-cell {
    color: var(--brand);
    font-weight: bold;
}

.settings-thead {
    background-color: var(--light-background);
}

.settings-table {
    width: 90%;
    /* table-layout: fixed; */
    
}

.settings-tbody tr:hover {
    background-color: rgba(18, 139, 62, 0.2);
}

.settings-tbody tr {
    cursor: pointer;
}

.settings-input-block {
    display: inline-block;
    margin-right: 12rem;
    
}

.settings-input-block p {
    font-size: 1.5rem;
}

.settings-table td, .settings-table th {
    padding-left: 2rem;
}

.settings-form{
    white-space: nowrap;
}

.settings-form-errors {
    margin-bottom: 3rem;
    min-height: 25px;
    color: red;
}

.settings-table tbody {
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 250px;
}

.settings-table thead tr {
    display: block;
}

.settings-table th, .settings-table td {
    width: 300px;
}
