.check-noms {
  background-color: var(--light-background);
  color: var(--brand);
  border-color: var(--brand);
  margin-left: 1rem;
}

.check-message {
  letter-spacing: normal !important;
  padding-left: 2rem;
}
