.layout {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--light-background);
  grid-gap: 2em;
  padding: 2em;
}

.main {
  background-color: #ffffff;
  text-align: left;
  background: rgb(255, 255, 255);
  margin: 1rem;
  padding: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
}

.value {
  font-weight: bold;
}

#rowOverride {
  margin-left: 0;
  width: 100%;
}

.label {
  font-weight: normal;
}

.title {
  font-weight: bold;
  font-size: large;
}

/* Buttons */

#editBtn {
  background-color: white;
  color: var(--brand);
  border-color: var(--light-background);
  border-radius: 4rem;
  padding: 0 30px;
}

#saveBtn {
  background-color: green;
  color: white;
  border-color: var(--light-background);
  border-radius: 4rem;
}

#cancelBtn {
  background-color: white;
  color: red;
  border-color: var(--light-background);
  border-radius: 4rem;
  padding: 0 20px;
}

/*********************************/
/************ header *************/
/*********************************/

.header {
  font-size: 1.2em;
  border-bottom: 1px solid var(--light-background);
  padding: 1rem 2rem;
}

/*********************************/
/************ content ************/
/*********************************/

.content > div {
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.content > div:not(:last-child) {
  border-bottom: 1px solid var(--light-background);
}

.mobileHide {
  display: none;
}

input[type='text'],
input[type='date'] {
  width: 75%;
}

/*********************************/
/************ errors *************/
/*********************************/

.yupError {
  color: red;
  font-size: 14px;
}

/*********************************/
/************ datepicker *********/
/*********************************/

input[type='text'].inputError,
input[type='date'].inputError {
  border: red solid 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.title {
  font-weight: bold;
  font-size: large;
  grid-column: 1/-1;
}
