.layout {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-background);
  grid-gap: 2em;
  padding: 2em;
  flex-direction: column;
}

.layout > .main:first-child {
  flex: 3 2 20em;
}

.layout > .main:nth-child(2) {
  flex: 2 3 20em;
  height: 100%;
}

.layout > .main:last-child {
  width: calc(60% - 1em);
  justify-self: flex-start;
}

.main {
  border-radius: 10px;
  background-color: #FFFFFF;
  text-align: left;
}
  
/*********************************/
/************ header *************/
/*********************************/

.header {
  font-size: 1.2em;
  border-bottom: 1px solid var(--light-background);
  padding: 1rem 2rem;
}

/*********************************/
/************ content ************/
/*********************************/

.content > div {
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.content > div:not(:last-child) {
  border-bottom: 1px solid var(--light-background);
}

.mobileHide {
  display: none;
}

@media screen and (min-width: 700px) {
  .layout {
    flex-direction: row;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  .mobileHide {
    display: block;
  }

}