# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      JWT_SECRET: Tm4A$V58Qu2qY&CrUbNBw%n9qWkG

    # Tests depend on having postgres around. This will spin a DB up inside
    # a Docker container and expose it to the build steps.
    services:
      postgres:
        image: postgres
        # A password is required for this image to work
        env:
          POSTGRES_PASSWORD: postgres
        # Ensure the database is up before we proceed
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        # Expose the database's port to the external system (where tests run)
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: CI=true npm test
        env:
          CI: true
